@page "/AGB"

<MudGrid Class="pb-12">
    <!-- Produkt überschrift -->
    <MudItem xs="12">
        <MudPaper Class="d-flex justify-content-center" Style="@($"background:#F0F0F0")" Elevation="0">
            <MudPaper Class="flex-auto pt-2" Style="@($"color:{Colors.Green.Darken3}; padding-bottom:12px; background:{Colors.Shades.Transparent}")">
                <MudText Typo="Typo.h4" Class="text-center" Style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight:bold">AGB / Datenschutz</MudText>
            </MudPaper>
        </MudPaper>
        <br />
        <!-- AGB Überschrift -->
        <MudPaper Class="d-flex justify-content-center" Style="@($"background:#F0F0F0")" Elevation="0">
            <MudPaper Class="flex-auto pt-2" Style="@($"color:{Colors.Green.Darken3}; padding-bottom:12px; background:{Colors.Shades.Transparent}")">
                <MudText Typo="Typo.h6" Class="text-center" Style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight:bold">ALLGEMEINE GESCHÄFTSBEDINGUNGEN ONLINESHOP</MudText>
            </MudPaper>
        </MudPaper>
        <br />
        <!-- Titel und Text -->
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
                    <strong>1. Geltungsbereich</strong>
        </MudText>
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <p>
                Die Allgemeinen Geschäftsbedingungen (nachfolgend „AGB“ genannt) gelten für alle über den Online-Shop der Interessengemeinschaft Hardware4You getätigten Bestellungen und abgeschlossenen Verträge (nachfolgend „Bestellung“ genannt).
                <br /><br />
                Der Hardware4You Shop behält sich das Recht vor, die AGB zu ändern. Massgebend ist jeweils die zum Zeitpunkt der Bestellung geltende Version der AGB, welche für diese Bestellung nicht einseitig geändert werden kann.
            </p>
        </MudText>
        <!-- Titel und Text -->
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
                     <strong>2. Angebot</strong>
        </MudText>
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <p>
                Das Angebot richtet sich an natürliche Kundschaft mit Wohnsitz resp. juristische Kundschaft mit Sitz in der Schweiz. Lieferungen erfolgen nur an Adressen in der Schweiz.
                <br /><br />
                Das Angebot gilt, solange es im Online-Shop ersichtlich ist und/oder der Vorrat reicht. Preis- und Sortimentsänderungen sind jederzeit möglich. Die im Online-Shop gezeigten Abbildungen sowie sämtliche Angaben zu den Produkten dienen der Illustration und sind unverbindlich.
            </p>
        </MudText>
        <!-- Titel und Text -->
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
                     <strong>3. Preis</strong>
        </MudText>
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <p>
                Die Preise verstehen sich in Schweizer Franken inkl. Mehrwertsteuer (MwSt.). Massgebend ist der Preis im Online-Shop zum Zeitpunkt der Bestellung.
            </p>
        </MudText>
        <!-- Titel und Text -->
         <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
                     <strong>4. Bestellung</strong>
        </MudText>
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <p>
                Die Darstellung der Produkte im Online-Shop ist kein rechtlich verbindlicher Antrag, sondern ein unverbindlicher online-Katalog bzw. eine unverbindliche Aufforderung an die Kundschaft, das Produkt im Online-Shop zu bestellen.
                <br /><br />
                Eine Bestellung gilt als Angebot an den Hardware4You Shop zum Abschluss eines Vertrages.
                <br /><br />
                Nach Übermittlung der Bestellung erhält die Kundschaft automatisch eine Eingangsbestätigung, die dokumentiert, dass die Bestellung beim Hardware4You Shop eingegangen ist.
                <br /><br />
                Der Hardware4You Shop ist ohne Nennung von Gründen frei, Bestellungen ganz oder teilweise abzulehnen. In diesem Fall wird die Kundschaft informiert und allfällig bereits geleistete Zahlungen werden zurückerstattet. Weitere Ansprüche sind ausgeschlossen, insbesondere erfolgt keine Nachsendung der nicht lieferbaren Produkte. Vorübergehend nicht lieferbare Produkte können nicht vorgemerkt werden.
            </p>
        </MudText>
        <!-- Titel und Text -->
         <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <strong>5. Zahlungsvarianten</strong>
        </MudText>
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <p>
                Zahlungen müssen in Schweizer Franken geleistet werden.
                <br /><br />
                Als Zahlungsmittel werden Kreditkarten und Debitkarten akzeptiert. Im Online-Shop werden die zur Verfügung stehenden Zahlungsmittel angezeigt.
                <br /><br />
                Die Abbuchung erfolgt sofort.
                <br /><br />
                Ein Kauf auf Rechnung ist nicht möglich.
            </p>
        </MudText>
        <!-- Titel und Text -->
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <strong>6. Vertragsabschluss</strong>
        </MudText>
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <p>
                Ein Vertrag kommt erst durch die Bearbeitung der Bestellung in der Lidl Dienstleistung in Weinfelden zustande. Sobald die Bestellung zum Versand bereitgestellt wurde, erhält die Kundschaft eine Auftragsbestätigung per E-Mail.
            </p>
        </MudText>
        <!-- Titel und Text -->
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <strong>7. Lieferung</strong>
        </MudText>
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <p>
                Die Lieferadresse der Kundschaft muss in der Schweiz liegen.
                <br /><br />
                An Wochenenden und offiziellen landesweiten oder kantonalen Feiertagen erfolgen keine Lieferungen.
                <br /><br />
                Falls die Kundschaft zum Zeitpunkt der Lieferung nicht vor Ort ist und keine besonderen Lieferanweisungen gegeben hat, wird der Lieferbote eine Abholungseinladung im Briefkasten hinterlegen. Die Kundschaft muss die Lieferung dann bei der entsprechenden Poststelle abholen.
                <br /><br />
                Jede Bestellung, die nicht innerhalb der genannten Fristen abgeholt wird, kann weder aufbewahrt noch rückerstattet werden. Die Kundschaft trägt die alleinige Verantwortung für verspätet abgeholte Bestellungen und jegliche Mängelrechte sind hierfür ausgeschlossen.
                <br /><br />
                Die Kundschaft wird aufgefordert, ihre Abholung zusätzlich durch ihre Unterschrift zu bestätigen. Jegliche Haftung für Schäden, welche der Kundschaft aus Verlust, Diebstahl, Missbrauch etc. im Zusammenhang mit dem Abholprozess bzw. dem Abholschein entstehen, wird ausdrücklich ausgeschlossen.
                <br /><br />
                Die Kundschaft übernimmt die Verantwortung für die gelieferten Produkte, auch wenn diese nicht direkt von ihr in Empfang genommen wurden.
            </p>
        </MudText>
        <!-- Titel und Text -->
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <strong>8. Lieferkosten</strong>
        </MudText>
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <p>
                Die Lieferkosten werden direkt von der Lidl Schweiz DL AG übernommen und fallen der Kundschaft nicht zur Last.
            </p>
        </MudText>
        <!-- Titel und Text -->
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <strong>9. Gewährleistung</strong>
        </MudText>
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <p>
                Der Hardware4You Shop kann die Gewährleistung wahlweise durch teilweisen oder vollständigen Ersatz durch ein gleichwertiges Produkt erbringen.
            </p>
        </MudText>
        <!-- Titel und Text -->
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <strong>10. Retouren und Rückerstattungen</strong>
        </MudText>
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <p>
                Der Käufer trägt die Kosten für Retouren selbst. Retouren jeglicher Art müssen vorab mit dem Lidl IT Service & Support Team (support@lidl.ch) abgesprochen werden.
                Eine Retoure, bei welcher der Käufer mit Bargeld bezahlt hat, kann und wird nur vor Ort angenommen und in Form von Bargeld rückerstattet. Ort: DL Weinfelden oder WVZ Sévaz
                Der Kunde muss sich für eine Terminvereinbarung (egal, ob Weinfelden oder Sévaz) beim Support Team melden.
                Rückerstattung der Vorauskasse – auch hier wird der Kunde gebeten die Retoure vorab dem IT Service & Support Team zu melden. Ist die Retoure angekommen, erhält der Kunde die Bestätigung dazu und innerhalb von 2-3 Werktage den gezahlten Betrag zurück.
                <br /><br />
                <strong>Versandadresse für Retouren:</strong><br />
                Lidl Schweiz DL AG<br />
                z.H IT Service und Support<br />
                Dunantstrasse 15<br />
                8570 Weinfelden<br />

            </p>
        </MudText>
        <!-- Titel und Text -->
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <strong>11. Mängelrüge</strong>
        </MudText>
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <p>
                Werden Produkte mit offensichtlichen Schäden an der Verpackung oder am Inhalt angeliefert, so hat die Kundschaft diese, unbeschadet ihrer Mängelrechte, sofort beim Lieferbote zu reklamieren und die Annahme zu verweigern. Die Kundschaft ist verpflichtet, sich eine Schadenbestätigungsmeldung des Lieferboten aushändigen zu lassen. Alle Transportschäden sind zusätzlich unverzüglich dem Lidl IT Service & Support zu melden.
                <br /><br />
                Weiter obliegt es der Kundschaft, die bestellten Produkte sofort bei Erhalt zu prüfen. Für allfällige Mängel oder Abweichungen von der Bestellung muss der Lidl IT Service & Support am Tag der Lieferung per E-Mail support@lidl.ch benachrichtigt werden. Die IT Service & Support behält sich das Recht vor, einen Beweis des Mangels zu verlangen.
            </p>
        </MudText>
        <!-- Titel und Text -->
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <strong>12. Gefahrenübergang</strong>
        </MudText>
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <p>
                Die Gefahr geht auf den Käufer über, sobald die Sendung an die den Transport ausführende Person übergeben worden ist. Falls der Versand sich ohne unser Verschulden verzögert oder unmöglich wird, geht die Gefahr mit der Meldung der Versandbereitschaft auf den Käufer über.
            </p>
        </MudText>
        <!-- Titel und Text -->
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <strong>13. Haftungsbeschränkung</strong>
        </MudText>
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <p>
                Schadensersatzansprüche aus Unmöglichkeit der Leistung, aus Vertragsverletzung, aus Verschulden bei Vertragsschluss und aus unerlaubter Handlung, sind sowohl gegen uns, als auch gegen unsere Erfüllungs- bzw. Verrichtungsgehilfen ausgeschlossen, soweit nicht vorsätzliches oder grob fahrlässiges Handeln vorliegt. Für Folgeschäden aus der Verwendung der Produkte wird jede Haftung abgelehnt.
            </p>
        </MudText>
        <!-- Titel und Text -->
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <strong>14. Kontakt / Kundendienst</strong>
        </MudText>
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <p>
                Für Fragen wenden Sie sich bitte per E-Mail support@lidl.ch an den technischen Support des Hardware4You Shops.
            </p>
        </MudText>
        <!-- Titel und Text -->
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <strong>15. Datenschutz</strong>
        </MudText>
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <p>
                Die Datenschutzerklärung ist integrierter Bestandteil dieser AGB. Mit der Akzeptanz dieser AGBs erklären Sie auch der Datenschutzerklärung zuzustimmen.
            </p>
        </MudText>
        <!-- Titel und Text -->
        <MudPaper Class="d-flex justify-content-center" Style="@($"background:#F0F0F0")" Elevation="0">
            <MudPaper Class="flex-auto pt-2" Style="@($"color:{Colors.Green.Darken3}; padding-bottom:12px; background:{Colors.Shades.Transparent}")">
                <MudText Typo="Typo.h6" Class="text-center" Style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight:bold">DATENSCHUTZ</MudText>
            </MudPaper>
        </MudPaper>
        <br />
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <p>
                Gestützt auf Artikel 13 der schweizerischen Bundesverfassung und die datenschutzrechtlichen Bestimmungen des Bundes (Datenschutzgesetz, DSG) hat jede Person Anspruch auf Schutz ihrer Privatsphäre sowie auf Schutz vor Missbrauch ihrer persönlichen Daten. Wir halten diese Bestimmungen ein. Persönliche Daten werden streng vertraulich behandelt und weder an Dritte verkauft noch weitergegeben.
                In enger Zusammenarbeit mit unseren Hosting-Providern bemühen wir uns, die Datenbanken so gut wie möglich vor fremden Zugriffen, Verlusten, Missbrauch oder vor Fälschung zu schützen.
                Beim Zugriff auf unsere Webseiten werden folgende Daten in Logfiles gespeichert: IP-Adresse, Datum, Uhrzeit, Browser-Anfrage und allgemein übertragene Informationen zum Betriebssystem respektive Browser. Diese Nutzungsdaten bilden die Basis für statistische, anonyme Auswertungen, so dass Trends erkennbar sind, anhand derer wir unsere Angebote entsprechend verbessern können.
            </p>
        </MudText>
        <!-- Titel und Text -->
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <strong>Auskunft, Löschung, Sperrung</strong>
        </MudText>
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <p>
                Sie erhalten jederzeit unentgeltlich Auskunft über die von uns gespeicherten personenbezogenen Daten zu Ihrer Person sowie zur Herkunft, dem Empfänger und dem Zweck von Datenerhebung sowie Datenverarbeitung. Außerdem haben Sie das Recht, die Berichtigung, die Sperrung oder Löschung Ihrer Daten zu verlangen. Ausgenommen davon sind Daten, die aufgrund gesetzlicher Vorschriften aufbewahrt oder zur ordnungsgemässen Geschäftsabwicklung benötigt werden. Damit eine Datensperre jederzeit realisiert werden kann, werden Daten zu Kontrollzwecken in einer Sperrdatei vorgehalten. Werden Daten nicht von einer gesetzlichen Archivierungspflicht erfasst, löschen wir Ihre Daten auf Ihren Wunsch. Greift die Archivierungspflicht, sperren wir Ihre Daten. Für alle Fragen und Anliegen zur Berichtigung, Sperrung oder Löschung von personenbezogenen Daten wenden Sie sich bitte per E-Mail support@lidl.ch.
            </p>
        </MudText>
        <!-- Titel und Text -->
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <strong>Server Logfiles</strong>
        </MudText>
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <p>
                Bei den Server Logfiles handelt es sich um anonymisierte Daten, die bei Ihrem Zugriff auf unsere Webseite erfasst werden. Diese Informationen ermöglichen keine Rückschlüsse auf Sie persönlich, sind aber aus technischen Gründen für die Auslieferung und Darstellung unserer Inhalte unverzichtbar. Weiterhin dienen Sie unserer Statistik und der ständigen Optimierung unserer Inhalte. Typische Logfiles sind das Datum und die Zeit des Zugriffs, die Datenmenge, der für den Zugriff benutzte Browser und seine Version, das eingesetzte Betriebssystem, der Domainname des von Ihnen beauftragten Providers, die Seite, von der Sie zu unserem Angebot gekommen sind (Referrer-URL) und Ihre IP-Adresse. Logfiles ermöglichen außerdem eine genaue Prüfung bei Verdacht auf eine rechtswidrige Nutzung unserer Webseite.
            </p>
        </MudText>
        <!-- Titel und Text -->
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <strong>Erhebung von Zugriffsdaten</strong>
        </MudText>
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <p>
                Die Auslieferung und Darstellung der Inhalte über unsere Webseite erfordert technisch die Erfassung bestimmter Daten. Mit Ihrem Zugriff auf unsere Webseite werden diese sogenannten Server-Logfiles durch uns oder den Provider des Webspace erfasst. Diese Logfiles erlauben keinen Rückschluss auf Sie und Ihre Person. Die entsprechenden Informationen bestehen aus dem Namen der Webseite, der Datei, dem aktuellen Datum, der Datenmenge, dem Webrowser und seiner Version, dem eingesetzten Betriebssystem, dem Domain-Namen Ihres Internet-Providers, der Referrer-URL als jene Seite, von der Sie auf unsere Seite gewechselt sind, sowie der entsprechenden IP-Adresse. Wir nutzen diese Daten zur Darstellung und Auslieferung unserer Inhalte sowie zu statistischen Zwecken. Die Informationen unterstützen die Bereitstellung und ständige Verbesserung unseres Angebots. Auch behalten wir uns vor, die erwähnten Daten nachträglich zu prüfen, sollte der Verdacht auf eine rechtswidrige Nutzung unseres Angebotes bestehen.
            </p>
        </MudText>
        <!-- Titel und Text -->
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <strong>Personenbezogene Daten</strong>
        </MudText>
        <MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <p>
                Personenbezogene Daten erheben wir im Rahmen von Datenvermeidung und Datensparsamkeit nur in dem Ausmaß und so lange, wie es zur Nutzung unserer Webseite notwendig ist, beziehungsweise vom Gesetzgeber vorgeschrieben wird. Wir nehmen den Schutz Ihrer persönlichen Daten ernst und halten uns bei Erhebung und Verarbeitung personenbezogener Daten streng an die entsprechenden gesetzlichen Vorschriften und an diese Datenschutzerklärung. Fällt der Zweck der Datenerhebung weg oder ist das Ende der gesetzlichen Speicherfrist erreicht, werden die erhobenen Daten gesperrt oder gelöscht. Regelmäßig kann unsere Webseite ohne die Weitergabe persönlicher Daten genutzt werden. Wenn wir personenbezogene Daten erheben – etwa Ihren Namen, Ihre Anschrift oder Ihre E-Mail-Adresse – erfolgt diese Datenerhebung freiwillig. Ohne eine ausdrücklich erteilte Zustimmung von Ihrer Seite werden diese Daten Dritten nicht zur Kenntnis gebracht. Beachten Sie bitte, dass Daten im Internet allgemein nicht immer sicher übertragen werden. Besonders im E-Mail-Verkehr kann der Schutz beim Datenaustausch nicht garantiert werden.. 
            </p>
        </MudText>
    </MudItem>
</MudGrid>





@code {

}
